* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .txt {
    text-align: center;
    padding: 20px 0px;
  }
  .container {
    border: 1px solid rgb(171, 164, 164);
    padding: 20px;
  }
  input {
    width: 1100px;
    outline: none;
  }
  textarea {
    outline: none;
  }
  .post-btn {
    outline: none;
    border: none;
    background-color: #002f34;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .condition {
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid black;
    background: none;
    display: none;
  }
  .new{
    border: 1px solid red;
  }
  .new:hover{
    background-color: blueviolet;
    border: 1px solid red;
  }